*
{
	margin: 0px;
	padding: 0px;	
}

body
{
	background-color: aliceblue;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

div
{
	background: linear-gradient(white,black);
	width: 192px;
	height: 283px;
	margin: 0px auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

img
{
	display: block;
	width: 181px;
	height: auto;
	margin: 5px;
}